<body class="application">
    <app-navigation-bar></app-navigation-bar>
    <router-outlet></router-outlet>
    <div class="footer">
        <div class="Footer-left">
            <a href="https://www.instagram.com/hacienda_volpes/">
                <img class="footer-logo" src="../assets/Hacienda Volpes Logo Website.png">
            </a>
        </div>
        <div class="Footer-center">
            <h1 class="footer-title">Hacienda Volpes Lounge Bar</h1>
            <p class="footer-paragraph">
                Live the night, drink all right<br>
                Via Chiesa 142, Verona<br>
                Open from 20:00 to 04:00 on mon, wed, fri, sat and sun<br><br>
                Follow us on social:
            </p>
            <div>
                <a href="https://www.instagram.com/hacienda_volpes/">
                    <img class="social-icons" src="../assets/new-instagram-logo-white-border-icon-png-large.png">
                </a>
            </div>
            <div style="display:inline-block;">
                <h4 class="footer-paragraph-social">@hacienda_volpes</h4>
            </div>
        </div>
        <div class="Footer-right">
            <p class="footer-paragraph-credits">
                2021 HaciendaVolpes s.r.l.<br>
                P.I. 04616834234.<br> 
                All Right Reserved<br>
                HaciendaVolpes and all the logos are property of HaciendaVolpes s.r.l<br><br>
                Creator: Christian Dal Pez<br>
                For UF12 - Programmazione Cloud<br>
                Creation of an Angular web app including routing, Material and CRUD.
            </p>
        </div>
    </div>
</body>


