.application {
    background-color: #000000;
}

.footer {  display: grid;
    background-color: #000000;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "Footer-left Footer-center Footer-right";
    padding-bottom: 30px;
    padding-top: 10px;
    border-top: 2px solid #FF9666;
  }
  
  .Footer-left { 
    grid-area: Footer-left; 
}
  
  .Footer-center { 
    grid-area: Footer-center; 
}
  
  .Footer-right { 
    grid-area: Footer-right; 
}
  
.footer-logo {
    max-width: 60%;
    padding: 50px;
    transition: all .3s ease-in-out;
}

.footer-logo:hover {
    max-width: 60%;
    padding: 50px;
    transform: scale(1.2);
}

.footer-title {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
}

.footer-paragraph {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 200;
}

.social-icons {
    max-width: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 200;
    transition: all .3s ease-in-out;
}

.social-icons:hover {
    max-width: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 200;
    transform: scale(1.2);
}


.footer-paragraph-social {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 200;
}

.footer-paragraph-credits {
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 200;
}